* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	line-height: 1.6;
  color: #8f8f8f;
  background: white;
  font-family: "Arial", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

p {
	display: block;
	margin-bottom: 15px;
}

ul {
  padding-left: 15px;
}

.content {
  padding: 50px 2% 250px;
}

.footer {
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 1.2rem;
	font-style: italic;

	display: flex;
	justify-content: center;
	align-items: center;
}

.left,
.right {
	background-color: rgb(230, 230, 230);
	text-align: center;
}

.left,
.right,
.main {
	padding: 15px;
}

.section {
  /* background-color: rgb(24, 228, 102); */
  /*! color: #fff; */
  margin-bottom: 10px
}

.section-headder {
	text-transform: uppercase;
	font-size: 20px;
}

/*  */

.left-right-detail {

}

.detail-left {
	text-align: right;
}

.detail-right {
	text-align: left;
}

/*  */

.up-over-detail {

}

.up-detail {
	font-weight: bold;
}

.over-detail {

}

/*  */

.panel {
  padding: 0 18px;
  background-color: white;
}