html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
	line-height: 1.6;
	font-family: 'Open Sans';
}

p {
	display: block;
	margin-bottom: 15px;
}

.header {
	background-color: #ffdb3a;
	font-size: 2rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer {
	background-color: rgb(100, 100, 100);
	color: #fff;
	font-size: 1.2rem;
	font-style: italic;

	display: flex;
	justify-content: center;
	align-items: center;
}

.left,
.right {
	background-color: rgb(230, 230, 230);
	text-align: center;
}

.header,
.left,
.right,
.main {
	padding: 15px;
}

.section {
  /* background-color: rgb(24, 228, 102); */
  /*! color: #fff; */
  margin-bottom: 10px
}

/*  */

.left-right-detail {

}

.detail-left {
	text-align: right;
}

.detail-right {
	text-align: left;
}

/*  */

.up-over-detail {

}

.up-detail {

}

.over-detail {

}

/*  */

 .section-headder {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
}