/* global 'site grid' */

.header { grid-area: header_area; }
.footer { grid-area: footer_area; }
.main { grid-area: main_area; }
.left { grid-area: left_area; }
.right { grid-area: right_area; }

.content {
	display: grid;
	grid-template-areas: "header_area header_area header_area"
	                     "left_area main_area right_area"
	                     "footer_area footer_area footer_area";

	grid-template-columns: 150px 1fr 150px;

	grid-template-rows: 100px 
											1fr 
											30px;

	min-height: 100vh;
}



@media screen and (max-width: 600px) {
	.content {
		grid-template-areas: "header_area"
		                     "left_area"
		                     "main_area"
		                     "right_area"
		                     "footer_area";

		grid-template-columns: 100%;
		grid-template-rows: 100px 
							auto 
							1fr
							auto 
							30px;
	}
}

/* element grid - detail side by side */

.left-detail { grid-area: left_detail_area; }
.right-detail { grid-area: right_detail_area; }

.left-right-detail {
	display: grid;
	grid-template-areas: "left_detail_area . right_detail_area";

	grid-template-columns: 130px 30px auto;
}

/* elemnt grid - detail up and over */

.up-detail { grid-area: up_detail_area; }
.over-detail { grid-area: over_detail_area; }

.up-over-detail {
	display: grid;
	grid-template-areas: "up_detail_area"
											 "over_detail_area";

	grid-template-columns: auto;
	grid-template-rows: auto 
											auto;
}