/* global 'site grid' */

.header { grid-area: header_area; }
.footer { grid-area: footer_area; }
.main { grid-area: main_area; }
.left { grid-area: left_area; }
.right { grid-area: right_area; }

.site {
	display: grid;
	grid-template-areas: "header_area header_area header_area"
	                     "left_area main_area right_area"
	                     "footer_area footer_area footer_area";

	grid-template-columns: 150px 1fr 150px;

	grid-template-rows: 100px 
						1fr 
						30px;

	min-height: 100vh;
}



@media screen and (max-width: 600px) {
	.site {
		grid-template-areas: "header_area"
		                     "left_area"
		                     "main_area"
		                     "right_area"
		                     "footer_area";

		grid-template-columns: 100%;
		grid-template-rows: 100px 
							auto 
							1fr
							auto 
							30px;
	}
}

/* element grid - area-detail */

.area-detail-left { grid-area: area_detail_left; }
.area-detail-right { grid-area: area_detail_right; }

.area-detail {
	display: grid;
	grid-template-areas: "area_detail_left . area_detail_right";

	grid-template-columns: 130px 30px auto;
}